body {
  background-color: rgb(66, 66, 66);
}

.container{
  width: 100%;
  padding:0% 4% 1%;
  border-radius: 3px;
}

main{
  background-color: rgb(150, 150, 150);
  height: 100%;
  margin: 5% 15% 5%;
}

h1 {
  display: inline-block;
  margin-top: 1%;
}

.formlogin{
  margin-top: 100px;
}

@media (min-width: 992px) {
  .logout{
    position: absolute;
    left: 92%;
  }
}

  .star_checked{
    color: orange;
  }

/*     ARTICLES       */
.container_art{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
  margin-top: 5%;
}

.card_title{
color: rgb(219, 219, 219);
font-weight: bolder;
background-color: grey;
padding: 5% 0% 5% 0%;
}

.card{
  margin:0% 5% 5% 0%;
  width: 200px;
  height: 260px;
  box-shadow: 0px 0px 15px rgba(87, 87, 87, 0.75);
}

.card:hover{
  margin:0% 5% 5% 0%;
  width: 200px;
  height: 260px;
  box-shadow: 0px 0px 10px grey;
}

.card_body{
  padding: 10%;
}

.btn_detail{
  position: absolute;
  top: 210px;
  left: 45px;
}

.img_detail{
width: 500px;
}


/*    myArticles     */


.myArt_container{
  width: 100%;
  height: 200px;
  background-color: grey;
  margin-top: 1%;
}

.myArt_title{
  font-weight: bolder;
  font-size: 25px;
  color: white;
  text-decoration: underline;
}

.myArt_body{
  padding-left: 1%;
  padding-top: 1%;
}

.myArt_img{
  float: left;
  position: relative;
  left: 20px;
  bottom: 170px;
}

.myArt_elem{
  padding-left: 40%;
}

.myArt_edit{
  background-color: rgb(104, 152, 167);
  border-radius: 50px;
  width: 230px;
  position: relative;
  left: 400px;
  top: 20px;
}

.myArt_edit:hover{
  background-color: rgb(72, 119, 162);
}

.myArt_edit a{
  text-decoration: none;
  color: white;
}
.myArt_delete{
  position: relative;
  left: 55%;
  top: 20px;
  background-color: rgb(147, 74, 72);
  height: 30px;
  width: 170px;
  border-radius: 50px;
}

.myArt_delete:hover{
  background-color: rgb(170, 30, 30);
}

.myArt_delete a {
  position: relative;
  bottom: 5px;
  text-decoration: none;
  color: white;
}



/*     ALLUSER      */

table{
  width: 100%;
  height: 100%;
  margin-top: 5%;
  text-align: center;
  color: white;
  background-color: rgba(120, 58, 0, 0.20);
  border-color: black;
}

th{
  height: 50px;
  font-weight: 600;
  font-size: 25px;
  background-color: rgba(120, 58, 0, 0.60);
}

td{
height: 100px;
font-size: 19px;
}

.btn-delete-ownstyle {
  color: #fff;
  background-color: green;
  border-color: white;
}

.btn-delete-ownstyle:hover {
  color: #fff;
  background-color: red;
  border-color: black;
}

.btn-delete-ownstyle:active{
  color: black;
  background-color: white;
  border-color: black;
}



/*     FOOTER       */
.footer {
  /*position: fixed;*/
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 2%;
}

.form_address{
  width: auto;
  display: inline-block;
}
